@charset "utf-8";
@font-face {
    font-family: sunshine;
    src: url(fontes/shunshine/Shunshine.otf) format(opentype);
}


*{
    margin: 0px;
    padding: 0px;
}

:root{
 --cor1:#5E6574;
 --cor2:#D8D8DA;
 --cor3:#212733;
 --cor4:#5D585E;
 --cor5:#25A18E;

 --fonttitulo:sunshine;
 --fonttexto:roboto
}
body{

    background-color: var(--cor5);
    height:100vh;
    background-image: url(imagens/sea-3652697_1920.jpg);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}

header{
    
    width: 100%;
    min-height: 120px;
    background-color:var(--cor2);
    background-image: url(imagens/pexels-bella-white-201200-635279.jpg);
    background-position: center center;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.397);


}
header > h1{
    text-align: center;
    padding-top: 40px;
    padding-bottom: 20px;
    font-family: var(--fonttitulo);
    font-weight: normal;
    font-size: 3em;
    color: var(--cor3);
}

.container1{
   display: flex;
   flex-shrink: 1;
   flex-grow: 1;
   flex-direction:row-reverse;
   flex-basis: auto;
   margin-right: 20px;
   margin-top: 30px;
   border-radius: 4px;
   padding: 20px;
   background-color: #25A18E;
   max-width:900px;
   max-height: 800px;
   float: right;
   box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.479);
   

    
    
    
    
    
}
.jardim{

    
    max-width: 800px;
    max-height:450px;
    margin-right: 20px;
    border-radius: 3px;

    
    
}
.container2{
  flex-basis: 40%;
  font-size: 1.2em;
  line-height: 1.3em;
  font-family: var(--fonttexto);

}
.container2 > h1{
    font-family: var(--fonttitulo);
    margin: 15px;
    padding: 10px;
}


#lugares1main {
    background-color: #25A18E;
    margin-top:50%;
    max-width: 900px;
    max-height:800px ;
    padding: 20px;
    display: flex;
    flex-basis: auto;
    flex-shrink: 1;
    font-family: var(--fonttexto);
    border-radius: 4px;
}
.lugares{
    margin: 15px;
}
.imagemlugares{
    max-width:500px;
    max-height:350px
}

#lugares2main {
    background-color: #25A18E;
    margin-top:5%;
    max-width: 900px;
    max-height:800px ;
    padding: 20px;
    display: flex;
    flex-basis: auto;
    flex-shrink: 1;
    font-family: var(--fonttexto);
    border-radius: 4px;
    float: right;
}
#lugares3main {
    background-color: #25A18E;
    margin-top:30%;
    max-width: 900px;
    max-height:800px ;
    padding: 20px;
    display: flex;
    flex-basis: auto;
    flex-shrink: 1;
    font-family: var(--fonttexto);
    border-radius: 4px;


}
    
    



